/*  Stili generali di pagina */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 50px;
    padding: 20px;
    text-align: center;

}

ul {
    list-style-type: none;
    padding: 30px;
    font-weight: bold;
}

li {
    margin: 20px;
}

img {
    width: 15%;
}